@CHARSET "UTF-8";

body {
	background: #4A689A url(../images/bg2.jpg) repeat-x scroll center top;
	width: 100%;
}
#main{
  position: absolute;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  font-size: 90%;
  background: #DAA520;
  padding: 1px;
}

div {
	margin: 0;
	padding: 0;
	border-width: 0;
}

.kolumna {

}

#gora {
	width:775px;
	background: white;
	margin: 0 auto;
}

#gora #gornyPasek {
	height: 8px;
	overflow: hidden;
	background: silver;
}

#gora #szybkieIkony {
	height: 40px;
	background: #be1f1c;
	border-bottom: 1px solid white;

	/*background-image: url("../images/red_gradient.png");
	background-repeat: repeat-x;*/
}

#header {
	background-color:#DFE5EE;
	padding: 1px;
}
#header	#logo {
	background: url("../images/logo.jpg") no-repeat;
	margin: 0px auto;
	height: 180px;
	width: 1000px;
	padding-top: 7px;
	padding-left: 2px;
}

#infoLog{
	background-image:url(/travel/faces/a4j_3_1_0org.richfaces.renderkit.html.GradientA/DATB/eAF7emTy1lIvAA7XA7E_);
	height: 20px;
	width: 200px;
	padding-top: 2px;
	ont-family:Arial,Verdana,sans-serif;
	font-size:12px;
	font-weight: bold;
	color: white;
	border: 1px solid #DAA520;
	padding-left: 3px;
	overflow: hidden;
}

#content {
	background-color:#DFE5EE;
	padding: 10px;
	padding-bottom: 100px;
}
#foot{
	text-align: center;
	padding: 4px 0px;
	background-color:#4A75B5;
	background-image:url(/travel/faces/a4j_3_1_0org.richfaces.renderkit.html.GradientA/DATB/eAF7emTy1lIvAA7XA7E_);
	background-position:left top;
	background-repeat:repeat-x;
	border:1px solid #C0C0C0;
	ont-family:Arial,Verdana,sans-serif;
	font-size:11px;
	color: #FFF;
}


#gornaWartwa {

}

#gornaWartwa #menuAndCostam {

}

#gornaWartwa #news {

}

#gornaWartwa #last {

}

#dolnaWarstwa {
}


#dolnaWarstwa #giftCards {

}

#dolnaWarstwa #mapPlace {
}

#dolnaWarstwa #friends {

}


.Center {
	margin: auto auto;	
}

.Grid{
	width: 80%;
	padding-left:30px;
	padding-top:20px;
	margin-left: 30px;
	margin-top: 20px;
}


.Font_small{
font-weight:normal;
font-size: 12px;
}

.Font_smallBold{
font-weight:bold;
font-size: 12px;
}


.Button{
	background-image:url(../images/btn.gif);
	background-repeat: repeat-x;
	background-position: center;
	font-size: 12px;
	width: 120px;
	height:22px;
	border:none;
	font-family: Verdana, Sans, Arial;
	color: white;
	font-weight:bold;
	cursor:pointer;
}

.Button:active{
	background-image:url(../images/btn_down.gif);
}

.Button:hover{
	background-image:url(../images/btn_over.gif);
}


.ButtonOk{
	background-image:url(../images/btn_ok.gif);
	background-repeat: repeat-x;
	background-position: center;
	font-weight: bold;
	font-size: 12px;
	width: 150px;
	height:22px;
	border: 0px;
}

.ButtonOk:active{
	background-image:url(../images/btn_ok_down.gif);
}

.ButtonOk:hover{
	background-image:url(../images/btn_ok_over.gif);
}


.CenterTop20px{
	text-align: center;
	padding-top: 20px;
}

.InputText{
	border: 1px solid #8FACE6;
	background-color: white;
}

.InputText:active{
	border: 1px solid #6992DE;
	background-color: orange;
	vertical-align: middle;
}

.InputText:FOCUS {
	background-color: #FFFFAF;
}
.UserInfo{
	padding-bottom: 15px;
	margin-bottom:15px;
	padding-top:15px;
	margin-top:15px;
	text-align: left;
	vertical-align: middle;
}

.UserInfo2{
	padding-top: 40px;
	padding-bottom: 15px;
	text-align: left;
	vertical-align: middle;
}

.UserInfo3{
	padding-bottom: 10px;
	margin-bottom:10px;
	padding-top:10px;
	margin-top:10px;
	text-align: left;
	vertical-align: middle;
}

.CellMiddle{
	text-align:center;
}

.CellLeft{
	text-align:left;

}

.CellRight{
	text-align:right;
}

.CellCenter{
	text-align:center;

}

.Img{
	background-color:#DFE5EE;
}

.PanelGrid{
	text-align:justify;
	padding-top: 0px;;
}

.Table{
	border: 1px solid;
	border-color: black;
}

.Padding25{
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
}

.Image{
	border: 0;
	padding-left: 10px;
	padding-right:10px;
}

.Vertical{
	vertical-align: middle;
}

.Message{
	color:red;
}

/* ---------glupoty ------- */
.lewy {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	width: 300px;
	height: 200px;
	float: left;
}

.prawy {
	margin: 10px;
	padding: 10px;
	border: 1px solid brown;
	width: 300px;
	height: 200px;
	float: left;
}
