<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">


	<!--*
	 	*	FACADES
	 	*-->
	<bean id="userFacade" class="travel.business.facades.impl.UserFacadeImpl">
		<property name="dataManager" ref="userDataManager"/>
	</bean>
	<bean id="externalFacade" class="travel.business.facades.impl.ExternalFacadeImpl">
		<property name="dataManager" ref="externalDataManager"/>
	</bean>
	<bean id="offerFacade" class="travel.business.facades.impl.OfferFacadeImpl">
		<property name="dataManager" ref="offerDataManager"/>
	</bean>
	<bean id="expeditionFacade" class="travel.business.facades.impl.ExpeditionFacadeImpl">
		<property name="dataManager" ref="expeditionDataManager"/>
	</bean>
</beans>
